<div class="container">
  <input type="text" class="form-control input" disabled [(ngModel)]="expression">

  <div>
    <button class="btn col-3 border" (click)="aggiungi('(')">(</button>
    <button class="btn col-3 border" (click)="aggiungi(')')">)</button>
    <button class="btn col-3 border" (click)="aggiungi('[')">[</button>
    <button class="btn col-3 border" (click)="aggiungi(']')">]</button>
  </div>

  <div>
    <button class="btn col-3 border" (click)="funzione('C')">CE</button>
    <button class="btn col-3 border" (click)="funzione('C')">C</button>
    <button class="btn col-3 border" (click)="funzione('undo')">←</button>
    <button class="btn col-3 border" (click)="aggiungi('/')">/</button>
  </div>

  <div>
    <button class="btn col-3 border" (click)="aggiungi('7')">7</button>
    <button class="btn col-3 border" (click)="aggiungi('8')">8</button>
    <button class="btn col-3 border" (click)="aggiungi('9')">9</button>
    <button class="btn col-3 border" (click)="aggiungi('*')">x</button>
  </div>

  <div>
    <button class="btn col-3 border" (click)="aggiungi('4')">4</button>
    <button class="btn col-3 border" (click)="aggiungi('5')">5</button>
    <button class="btn col-3 border" (click)="aggiungi('6')">6</button>
    <button class="btn col-3 border" (click)="aggiungi('-')">-</button>
  </div>

  <div>
    <button class="btn col-3 border" (click)="aggiungi('1')">1</button>
    <button class="btn col-3 border" (click)="aggiungi('2')">2</button>
    <button class="btn col-3 border" (click)="aggiungi('3')">3</button>
    <button class="btn col-3 border" (click)="aggiungi('+')">+</button>
  </div>

  <div>
    <button class="btn col-3 border" (click)="funzione('reverse')">±</button>
    <button class="btn col-3 border" (click)="aggiungi('0')">0</button>
    <button class="btn col-3 border" (click)="aggiungi('.')">,</button>
    <button class="btn col-3 border" (click)="calcola()">=</button>
  </div>

  <br /><button class="btn col-12 border" (click)="more = !more">More</button><br /><br />

  <div *ngIf="more">
    <div>
      <button class="btn col-3 border" (click)="funzione('sqr')">x²</button>
      <button class="btn col-3 border" (click)="funzione('x')">1/x</button>
      <button class="btn col-3 border" (click)="funzione('rad')">&#8730;</button>
      <button class="btn col-3 border" (click)="funzione('log')">log</button>
    </div>

    <div>
      <button class="btn col-3 border" (click)="funzione('sin')">sin</button>
      <button class="btn col-3 border" (click)="funzione('cos')">cos</button>
      <button class="btn col-3 border" (click)="funzione('tan')">tan</button>
      <button class="btn col-3 border" (click)="funzione('pi')">&pi;</button>
    </div>
  </div>
</div>